SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/<YOUR_KEY>
ETHEREUM_RPC_URL=https://eth-mainnet.g.alchemy.com/v2/<YOUR_KEY>
PRIVATE_KEY=<YOUR_WALLET_PRIVATE_KEY>
ETHERSCAN_API_KEY=<YOUR_ETHERSCAN_API_KEY>
IPFS_BASE_TOKEN_URI=ipfs://<YOUR_METADATA_FOLDER_CID>/
IPFS_POKEMON_CID=ipfs://<YOUR_POKEMON_IMAGE_FOLDER_CID>/
POKEMON_METADATA_BASE_URI=http://127.0.0.1:5173/pokemon/metadata/
QUEST_VERIFIER_ADDRESS=<YOUR_BACKEND_OR_TA_VERIFIER_WALLET>
QUEST_CONTRACT_ADDRESS=<DEPLOYED_LEARNING_QUEST_ADDRESS>
QUEST_NFT_CONTRACT_ADDRESS=<DEPLOYED_LEARNING_QUEST_NFT_ADDRESS>
QUEST_BASE_URI=http://127.0.0.1:5173/quest/metadata/base.json
QUEST_ERC20_URI=http://127.0.0.1:5173/quest/metadata/erc20.json
QUEST_ERC721_URI=http://127.0.0.1:5173/quest/metadata/erc721.json
QUEST_ONCHAIN_ERC721_URI=http://127.0.0.1:5173/quest/metadata/onchain-erc721.json
